.header {
    font-size: 10vw;
    margin-left: 5rem;
}

.dashboard {
    height: 40vh;
    text-align: center;
}

.button {
    font-family: "../fonts/NeueMontreal-Light.otf";
    width: 40vw;
    min-width: 250px;
    max-width: 400px;
    max-height: 500px;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5vh;
    border-radius: 8px;
}

.image {
    max-width: 350px;
    max-height: 400px;
}